#{extends 'main.html' /}
#{set title:'Line Chart with Highcharts.js' /}
<head>
</head>

<body>
<div class="container">
    <ul class="nav nav-tabs">

        <li><a data-toggle="tab" href="#example">Example</a></li>

        <li><a data-toggle="tab" href="#code">code</a></li>

    </ul>

    <div class="tab-content">

        <div id="example" class="tab-pane fade in active">
            <div id="container" class="col-md-12" style="margin: 0 auto"></div>
            <script>

            </script>
            <br>
        </div>

        <div id="code" class="tab-pane fade">

            <br>
        </div>
    </div>

</div>
</body>