﻿<!DOCTYPE html>
<html>
<head>
    <title>higlight.js example</title>
    <script src="/public/javascripts/highlight.min.js"></script>
    <link href="/public/stylesheets/default.min.css" rel="stylesheet" />
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<pre><code class="xml">&lt;!DOCTYPE html&gt;
    &lt;title&gt;Title&lt;/title&gt;
    &lt;style&gt;body {width: 500px;}&lt;/style&gt;
    &lt;script type="application/javascript"&gt;
    function $init() {return true;}
    &lt;/script&gt;
    &lt;body&gt;
    &lt;p checked class="title" id='title'&gt;Title&lt;/p&gt;
    &lt;!-- here goes the rest of the page --&gt;
    &lt;/body&gt;
</code></pre>
</body>
</html>
