<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/codestyle.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/timesheet.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/joint.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/SyntaxHighlighter.css'}">
        <link rel="stylesheet" href="@{'/public/stylesheets/default.min.css'}">

        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-2.1.4.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/bootstrap.js'}" type="text/javascript" charset="${_response_encoding}"></script>

        <script src="@{'/public/javascripts/d3.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/dimple.v2.1.6.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>

        <script src="@{'/public/javascripts/Chart.js'}" type="text/javascript" charset="${_response_encoding}"></script>

        <script src="@{'/public/javascripts/sigma.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/sigma.parsers.gexf.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/sigma.parsers.json.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>

        <script src="@{'/public/javascripts/highcharts.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/highcharts-more.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/exporting.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/data.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/drilldown.js'}" type="text/javascript" charset="${_response_encoding}"></script>

        <script src="@{'/public/javascripts/timesheet.js'}" type="text/javascript" charset="${_response_encoding}"></script>

        <script src="@{'/public/javascripts/lodash.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/backbone-min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/joint.js'}" type="text/javascript" charset="${_response_encoding}"></script>

        <script src="@{'/public/javascripts/zingchart.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>

        <script src="@{'/public/javascripts/amcharts.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/serial.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/light.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/dark.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/funnel.js'}" type="text/javascript" charset="${_response_encoding}"></script>


        <script src="@{'/public/javascripts/shBrushCss.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/shBrushJScript.js'}" type="text/javascript" charset="${_response_encoding}"></script>


        <script src="@{'/public/javascripts/highlight.min.js'}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">D3.js <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@{Application.d3a()}">Chord Diagram</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@{Application.d3b()}">Radial Reingold–Tilford Tree</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@{Application.d3c()}">Collapsible Tree</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@{Application.d3d()}">Zoomable Sunburst</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@{Application.d3e()}">Diverging Stacked Bar Chart</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Chart.js <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@{Application.chartjs_a()}">Line Chart</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@{Application.chartjs_b()}">Bar Chart</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@{Application.chartjs_c()}">Radar Chart</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Highcharts.js <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@{Application.highcharts_a()}">Line Chart</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@{Application.highcharts_b()}">Percentage Area</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@{Application.highcharts_c()}">Stacked Bar Chart</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@{Application.highcharts_d()}">Pie Chart</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@{Application.highcharts_e()}">Polar Chart</a></li>
                        </ul>
                    </li>
                    <li><a href="@{Application.timesheet()}">Timesheet.js</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Joint.js<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@{Application.joint_a()}">Finite State Machines</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@{Application.joint_b()}">ER Diagram</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@{Application.joint_c()}">UML Class Diagram</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ZingChart<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@{Application.zing_a()}">Bar Chart</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@{Application.zing_b()}">Multiseries Bar Chart</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@{Application.zing_c()}">Stacked Area</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">AmCharts<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@{Application.amchart_a()}">Column Chart</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@{Application.amchart_b()}">Line Chart</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@{Application.amchart_c()}">Pyramid Chart</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
        #{doLayout /}
    </body>
</html>
